<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=bookmanager</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.username">xiaovfight</property>
		<property name="hibernate.connection.password">123</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hmb2ddl.auto">create </property> 
		<property name="hibernate.show_sql">true</property>
		
		<mapping resource="com/lib/conf/hbm/Book.hbm.xml"/>
		<mapping resource="com/lib/conf/hbm/BookType.hbm.xml"/>
		<mapping resource="com/lib/conf/hbm/Manager.hbm.xml"/>
		<mapping resource="com/lib/conf/hbm/ReaderType.hbm.xml"/>
		<mapping resource="com/lib/conf/hbm/Reader.hbm.xml"/>
		<mapping resource="com/lib/conf/hbm/Record.hbm.xml"/>
	</session-factory>
</hibernate-configuration>